/*  Angel Velazquez and Mason C.
    September 26
*/

body
{
    font-family: Arial, sans-serif;
    font-size: 1em;
    background-image: url("") ;
    background-size: cover;
}

h1
{
    font-size: 2em;
    font-style: italic;
}

h3
{
    font-size: 1.5em;
    border-bottom: 1px solid black;
}

.fonts
{
    color: orange;
    font family: 'Comic Sans MS', san-serif;
    font size: 1.5em;
    font style: italic;
    font weight: bold;
}

.colors
{
    color: red;
    font weight: bold;
}

.more
{
    color: blue;
    text decoration: underline;
    border: 1px, dashed, gray;
    background color: #D69BBE;
}

.backgrounds
{
    color: green;
    font: 'Trebuchet MS', san-serif;
    font size: 1.25em;
}

.png
{
    resize: 15px, 15px;
}
  
article ul
{
 list-style-image: url("");
}
  
