/*  Angel Velazquez
    Feb 22, 2025
*/



/**   Basic Styles - V12.1   **/

body {
    color: #333333;
    font-size: 16px;
    padding: 30px;
}

a {
    color: darkcyan;
}

a:hover {
    color: cyan;
}


/**   Targeting Classes - V12.2   **/

.Intro {
    font-size: 24px;
    color: darkblue;
    padding: 20px 60px;
    text-align: left;
}

.bold {
    background-color: lightblue;
    color: black;
    padding: 1px;
    font-weight: bold;
}

.italic {
    font-style: italic;
}


/**   Alert Classes - V12.3   **/

.alert {
    background: red;
    color: white;
    font-weight: bold;
    padding: 1px;
}

.alert.blue {
    background: blue;
    color: white;
}