/* Practice CustomFonts Style Sheet */

@font-face {
    font-family: 'Airstream';
    src: url('../fonts/Airstream-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
	font-family: 'Airstream', "Times New Roman", serif;
}