form {
  margin: 0 auto;
  width: 80%;
  text-align: left;
}

#centerstyle { 
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

div {
    margin: 10px;
}

label {
    margin-right: 15px;
    width: 150px;
    display: inline-block;
}

.monica-reading-highlight-style
.monica-reading-highlight {
  animation: fadeInOut 1.5s ease-in-out;
}

@keyframes fadeInOut {
  0%, 100% { background-color: transparent; }
  30%, 70% { background-color: rgba(2, 118, 255, 0.20); }
}

