/* Angel Velazquez */
/* Mar 1 */

body 
{
	background-color: #B8D1EB;
	color: #000000;
	font-family: 'Times New Roman', Times, serif;
}

h1 
{
	font-family: Tahoma, sans-serif;
	font-size: 30px;
}

h2 
{
	font-family: Verdana, sans-serif;
	font-weight: normal;
	font-style: italic;
}

#outerwrapper 
{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.floatleft 
{ 
	float: left;
	margin-right: 3%;
}

.floatright 
{
	float: right;
	margin-left: 3%;
}

nav ul 
{
	list-style: none;
}

main, footer 
{
	clear: both;
	background-color: #C5A98B;
	padding: 10px;
}

main ul 
{
	list-style-image: url("../Images/tomato.png");
}


footer 
{
	font-size: 0.75em;
	text-align: center;
	background-color: beige;
	padding: 10px 0;
}

footer img
{
	width: 48px;
	height: 48px;
	margin: 0 10px;
	color: red;
}

