/* 
    Angel Velazquez
    Table Styles * Validated * S25 
*/

/* -------------  EXPERIENCE : EXP TABLE SECTION  ----------- */

.experience {
  height: 100%;
  background-color: #34231B; 
}

.exp-h1 {
  font-size: 5rem;
  padding: 8rem 0 0;
  color: #FFFFFF;
  text-align: center; 
  font-family: 'Luxurious Script', cursive;
}

.exp-container {
  width: 60%;
  margin: 1.5rem auto 20rem auto;
  padding: 3rem 5rem 2rem 5rem;
  background-color: #3b261f;
  border-radius: 15px;
  color: #FFFFFF;
  font-family: 'Aboreto', sans-serif;
}

.exp-description {
  text-align: center; 
  font-size: .9rem; 
  max-width: 900px; 
  margin: 0 auto 2rem; 
  text-transform: uppercase; 
  line-height: 1.8; 
}

.exp-learn-more {
  display: inline-block;
  margin-top: 1rem;
  color: #FFFFFF;
  text-decoration: none;
  border-bottom: 1px dotted #FFFFFF;
}

.exp-divider {
  border: none;
  height: 1px;
  background-color: #7e6b61;
  margin: 2rem 0;
}

.exp-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  min-width: 260px;
  font-size: 13px;
  border-radius: 36px;
  margin: 0 auto 0px;
}

.exp-table th, td {
  padding: 1rem;
  vertical-align: top;
  text-align: left;
}

.exp-table th {
  font-weight: bold;
  color: #d3c8c3;
  text-align: center;
}

.exp-status-check {
  color: #7cf07c;
  font-weight: bold;
}

.exp-section-heading {
  padding: 1rem 0 0.5rem;
  color: #d3c8c3;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.exp-course-row:not(:last-child) {
  border-bottom: 1px solid #5d453b;
}

.exp-course-name {
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.exp-tech-list {
  white-space: nowrap;
}

/* ------------- ^ EXPERIENCE : EXP TABLE SECTION ^ ----------- */


