/* 
  Angel Velazquez
  April 1 . 2025
*/

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,400&display=swap');

html {
  background: url("../Images/jewelry.jpg") top/cover no-repeat;
  min-height: 100%;
}

#outerwrapper {
  width: 70%;
  margin: 0 auto;
  background: rgba(243,205,170, 0.4); 
  border-radius: 15%; 
}

footer {
  font-size: 1em;
  text-align: center;
  padding-bottom: 10px; 
}

main {
  background: linear-gradient(#FFFFFF, #F0F9E6);
  padding: 10px;
  margin: 20px;
  border-radius: 2em;
  font-size: 1.25em;
  font-family: Arial, Helvetica, sans-serif; 
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 4em;
  margin: 0.25em 0;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 2em;
  margin-bottom: 0.5em;
}

img.addrightmargin {
  float: left;
  border-radius: 50%;
  margin-right: 10%;
}

nav ul {
  list-style-type: none; 
  font-size: 1.5em;     
  clear: both;          
  padding-left: 0;      
}
nav ul li {
  margin-right: 10px;
}
nav ul li a.active {
  text-decoration: underline;
}
